* 2

In [1]:
print ("Hello Everyone !!!")

Hello Everyone !!!

In [3]:
print ("Hello \n World")

Hello
 World

In [4]:
print ("Hello")
print ("World")

Hello
World

In [7]:
print ("'Rohit's date of birth is 12/05/1999 '")

'Rohit's date of birth is 12/05/1999 '

* 3

In [8]:
x = "Hello"
print (x)

Hello

* 4

In [10]:

num = 25
print("Integer:", num)


pi = 3.14
print("Float:", pi)


name = "Sandeep"
print("String:", name)


is_student = True
print("Boolean:", is_student)


fruits = ["Apple", "Banana", "Mango"]
print("List:", fruits)


coordinates = (10, 20)
print("Tuple:", coordinates)


unique_numbers = {1, 2, 3, 4}
print("Set:", unique_numbers)


student = {"name": "Rohit", "age": 20, "course": "BCA"}
print("Dictionary:", student)

Integer: 25
Float: 3.14
String: Sandeep
Boolean: True
List: ['Apple', 'Banana', 'Mango']
Tuple: (10, 20)
Set: {1, 2, 3, 4}
Dictionary: {'name': 'Rohit', 'age': 20, 'course': 'BCA'}

* 5

In [13]:
a = "Sandeep"
b = "Sabharwal"
full_name = a + " " + b
print("Full Name:", full_name)

Full Name: Sandeep Sabharwal

* 6

In [18]:
a = "Sandeep"
b = "Sabharwal"
c = "(Keshav)"
d = a + " " + c + " " + b
print("Full Name:", d)

Full Name: Sandeep (Keshav) Sabharwal

In [21]:
name = "Sandeep Sabharwal"
sapid = 590024429
date_of_birth = "18 mar 2007"
address = "UPES\n \tBidholi Campus\n \tPincode: 248007"
programme = "AI & ML"
semester = 2 

print("Name:", name)
print("SAP ID:", sapid)
print("Date of Birth:", date_of_birth)
print("Address:", address)
print("Programme:", programme)
print("Semester:", semester)

Name: Sandeep Sabharwal
SAP ID: 590024429
Date of Birth: 18 mar 2007
Address: UPES
 	Bidholi Campus
 	Pincode: 248007
Programme: AI & ML
Semester: 2