## Chapter 1 — Getting Started with Python
Introduction to Python
"Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python’s simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed."

## What is interactive programming in python?
Interactive Programming is when we run the code directly on the terminal. Here, every line is executed and the output is given in an instant. Continuos interlinked commands are not possible in interactive mode of python. We do not need to save anything in order to run the code.


## What is a script programming in python?
In the script mode of python, we write the whole code and then it is executed at once as a whole. We need to save the file in order to execute it. In the case of python, the terminal command is "python -file name"

## Interactive Python in Jupyter

In [1]:
a = 50
b = 100
print("What is the product if a and b")
print(a * b)

What is the product if a and b
5000

## Script mode in Jupyter Notebook

In [2]:
!python test.py

70

## Dynamic Types in Python

python as a script or language is what "dynamically typed", meaning the variable are declared
during runtime and there datatype is npt explicity satisfied

In [1]:
a = 10
b = 30
print (a+b)

40

In [3]:
a = 20
print(type(a))
a = 20/100
print(type(a))
a = "Text"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

## what is the command to check the data type?

type() : Gives the data type of the variable currently in UserWarning

## What are immutable data types()

The datatypes where vale cannot be change once assigned.

Immutable datatypes
1 --> Integer (int)

2 --> floating point (float)

3 --> boolean (bool)

4 --> string (str)

5 --> frozenset

6 --> tuples (tup)

In [4]:
a="abcd"
print(a)
a="a7cd"
print(a)

abcd
a7cd

## what is tuple?

In [ ]:
a =(2,3)
print(a)
a =[2,3]
print(a)

## Python is an Object-Oriented Language
In Python, everything is an object.

That means these are all objects:

integers → 10

strings → "hello"

lists → [1,2,3]

functions → print, len

classes → str, list

even modules → math, os

## What is an Object in Python?
Definition (theoretical)

An object is a runtime entity that has:

Identity → unique memory reference (id())

Type → what kind of object it is (type())

Value / State → actual data stored

Example:

In [1]:
x = 10  
print(id(x)) # identity  
print(type(x)) # type  
print(x)

2359716610576
<class 'int'>
10

Internally:

10 is an object of class int

int itself is also an object (a class object)

## Python’s “Class-Based Object System”
In Python, every object is created from a class (type).

Example:

In [2]:
name = "sandeep"

Internally, Python treats it as: "sandeep" is an object its class is str That is why this works:

str

Because str is a class object.

## How Objects are Called / Accessed in Python
## Dot operator (.) is attribute access
When you write:

In [1]:
"hello".upper()

'HELLO'

## Python interprets:

"hello" → object

upper → attribute (method) stored inside the class str

So internally it becomes:

str.upper("hello")

Meaning:

Methods are just functions stored inside a class, and Python passes the object automatically.

## Built-in Functions vs Methods (Internal Working)
## A) Built-in Function (Global / independent)
Example:

In [2]:
len("python")

6

## Internal meaning:

Python searches len inside the built-in namespace.

Built-ins live in:

__builtins__

builtins module

So this is basically:

builtins.len("python")

Built-in functions are not tied to one object.

## Method (belongs to an object’s class)
Example:

In [3]:
"python".upper()

'PYTHON'

## Internal meaning:

Python does:

look at object type → str

find upper inside str

bind it with the object "python"

then call it

Equivalent internal call:

str.upper("python")
So, method = function that becomes bound to an object.

## Why Methods Feel Different?
Because in methods:

### Python automatically passes the object as the first argument
That object is called:

self (conventionally)
Example:

In [4]:
class Demo:
    def show(self):
        print("Hello")

d = Demo()
d.show()

Hello

Internally:

Demo.show(d)

So:

d.show() is just a shortcut for Demo.show(d)

## What Happens When You Write obj.method()?
Example:

In [5]:
lst = [1, 2]
lst.append(5)
lst

[1, 2, 5]

# Internal Steps:
Python performs:

Find the class: type(lst) → list

Search append in list

Bind it to lst

Call it

Equivalent:

list.append(lst, 5)
That’s why methods can modify the object.

In [6]:
len("python")

6

Why len() is a Function but append() is a Method?

Because of design:

len() is general-purpose

It works for many objects:

list

string

tuple

dict

set

Python calls the object’s internal length rule:

obj.__len__()
So:

len(obj)
Internally becomes:

obj.__len__()
len() is a built-in function that calls the method indirectly.

# Varriable - Native Python?
A variable in any programming language is a named storage location in memory that holds data, and the value can change while the program runs.

Naming and Using Variables:

Guidelines

> Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number.For instance, you can call a variable message_1 but not 1_message.

> Spaces are not allowed in variable names, but underscores can be used to separate words in variable names. For example, greeting_message works, but greeting message will cause errors.

> Avoid using Python keywords and function names as variable names; that is, do not use words that Python has reserved for a particular programmatic purpose, such as the word print. (See “Python Keywords and Built-in Functions” on page 489.)

> Variable names should be short but descriptive. For example, name is better than n, student_name is better than s_n, and name_length is better than length_of_persons_name.

> Be careful when using the lowercase letter l and the uppercase letter O because they could be confused with the numbers 1 and 0.

### Note: The Python variables you’re using at this point should be lowercase. You won’t get errors if you use uppercase letters, but it’s a good idea to avoid using them for now.

### Varriable Types?
### String : A string is a series of characters in a sequence, theye are written within "" or ''.

In [7]:
message = "Hello Python Crash Course reader!"
print(message)

Hello Python Crash Course reader!

## Python String Built-in Methods (Full List)
### 1) Case Conversion Methods
lower()

#### Definition and Usage
Return a copy of the string with all the cased characters converted to lowercase. For example:

In [8]:
a="PYTHON"
a.lower()

'python'

upper()

### Definition and Usage
Return a copy of the string with all the cased characters converted to uppercase. Note that s.upper().isupper() might be False if s contains uncased characters or if the Unicode category of the resulting character(s) is not “Lu” (Letter, uppercase), but e.g. “Lt” (Letter, titlecase).

In [9]:
"python".upper()

'PYTHON'

title()

## Definition and Usage
Return a title cased version of the string where words start with an uppercase character and the remaining characters are lowercase.

In [10]:
"python programming new".title()

'Python Programming New'

#### capitalize()

### Definition and Usage
The capitalize() Return a copy of the string with its first character capitalized and the rest lowercased.

Changed in version 3.8: The first character is now put into titlecase rather than uppercase. This means that characters like digraphs will only have their first letter capitalized, instead of the full character.

In [1]:
"python programming".capitalize()

'Python programming'

#### swapcase()

### Definition and Usage
The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [2]:
"PyThOn".swapcase()

'pYtHoN'

#### casefold() (stronger lower)

### Definition and Usage
Return a casefolded copy of the string. Casefolded strings may be used for caseless matching.

Casefolding is similar to lowercasing but more aggressive because it is intended to remove all case distinctions in a string. For example, the German lowercase letter 'ß' is equivalent to "ss". Since it is already lowercase, lower() would do nothing to 'ß'; casefold() converts it to "ss". For example:

In [3]:
"GERMAN ß".casefold()

'german ss'

## 2) Remove Spaces / Cleanup
### strip(chars=None)

#### Definition and Usage
Return a copy of the string with the leading and trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix or suffix; rather, all combinations of its values are stripped:

In [8]:
"  hello      Sandeep    ".strip()   # 'hello'

'hello      Sandeep'

##### lstrip(chars=None)

### Definition and Usage
Return a copy of the string with leading characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix; rather, all combinations of its values are stripped:

In [9]:
"  hello".lstrip()    # 'hello'

'hello'

#### rstrip(chars=None)

### Definition and Usage
Return a copy of the string with trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a suffix; rather, all combinations of its values are stripped:

In [10]:
"hello   ".rstrip()   # 'hello'

'hello'

## Search & Find

## find(sub[, start[, end]])
### Definition and Usage
The find() method searches for a substring inside a string and returns the index (position) of the first occurrence of that substring.

It scans the string from left to right. If the substring is found, it returns the starting index of the match. If the substring does not exist in the string, it returns -1. Because it returns -1 instead of raising an error, find() is considered safer when you are not sure whether the substring exists.

Optional start and end parameters can be used to restrict the search to a specific part of the string.

## Syntax
string.find(sub, start, end)
## Return Value
Returns an integer index (0-based)
Returns -1 if not found

In [11]:
"python".find("th")

2

In [12]:
"python".find("zz")

-1

In [13]:
"banana".find("a", 2)

3


#### rfind(sub[, start[, end]])
### Definition and Usage
The rfind() method works like find(), but it searches from the right side of the string towards the left.

Even though it searches from the right, the returned index is still based on the normal left-to-right indexing system. If the substring is found, it returns the highest index where the substring begins. If the substring is not found, it returns -1.

This method is useful when you want to locate the last occurrence of a substring without raising an error.

### Syntax
string.rfind(sub, start, end)
### Return Value
Returns the last index where the substring starts
Returns -1 if not found

In [14]:
"banana".rfind("a")

5

In [15]:
"banana".rfind("x")

-1

### index(sub[, start[, end]])
#### Definition and Usage
The index() method searches for a substring in a string and returns the index of the first occurrence, just like find().

The major difference is error handling: if the substring is not found, index() raises a ValueError instead of returning -1.

This method is useful in situations where the substring must exist, and if it does not, you want the program to fail immediately and clearly.

### Syntax
string.index(sub, start, end)
### Return Value
Returns an integer index (0-based)
Raises ValueError if substring is not found

In [16]:
"python".index("th")

2

### rindex(sub[, start[, end]])
#### Definition and Usage
The rindex() method is the reverse version of index().

It returns the index of the last occurrence of a substring in the string. If the substring is not found, it raises a ValueError.

This method is useful when you want the last match and you want strict validation (meaning the substring must exist).

### Syntax
string.rindex(sub, start, end)
### Return Value
Returns the last index of the substring
Raises ValueError if substring is not found

In [18]:
"banana".rindex("a")

5

### count(sub[, start[, end]])
#### Definition and Usage
The count() method counts how many times a substring occurs in the string.

It counts only non-overlapping occurrences and returns the total number of matches. It does not change the original string.

This method is useful when you want frequency information such as how many times a word, character, or pattern exists inside text.

Optional start and end allow counting only inside a specific range.

### Syntax
string.count(sub, start, end)
### Return Value
Returns an integer count (0 or more)

In [20]:
"banana".count("a")

3

In [21]:
"banana".count("an")

2

### startswith(prefix[, start[, end]])
#### Definition and Usage
The startswith() method checks whether a string begins with the given prefix.

It returns True if the prefix matches the beginning of the string, otherwise False. It does not search the whole string, only the starting position.

This method is very useful in validation, pattern checks, filtering file names, checking URL prefixes (http, https), and checking naming conventions.

### Syntax
string.startswith(prefix, start, end)
### Return Value
Returns True or False

In [22]:
"python".startswith("py")

True

In [23]:
"python".startswith("on")

False

### endswith(suffix[, start[, end]])
#### Definition and Usage
The endswith() method checks whether a string ends with the given suffix.

It returns True if the suffix matches the ending of the string, otherwise False. It does not scan the whole string; it only checks the end.

This method is commonly used in file validation such as checking extensions (.txt, .csv, .pdf) and confirming fixed endings in naming rules.

### Syntax
string.endswith(suffix, start, end)
### Return Value
Returns True or False

In [24]:
"python".endswith("on")

True

In [25]:
"python".endswith("py")

False

#### Numeric Data Types, Input & Output, Escape Sequences
### Topics Covered

Numeric Data Types in Python
Input & Output Functions
Escape Sequences in Strings
#### 1) Numeric Data Types in Python
Python provides three main numeric data types:

int → Whole numbers (no decimal)
float → Decimal numbers (real numbers)
complex → Complex numbers like a + bj
Additionally, bool is also treated as a numeric type in Python.

In [26]:
a = 10
b = -99
c = 0

print("a =", a, "| type:", type(a))
print("b =", b, "| type:", type(b))
print("c =", c, "| type:", type(c))

print("a + b =", a + b)
print("a * 5 =", a * 5)

a = 10 | type: <class 'int'>
b = -99 | type: <class 'int'>
c = 0 | type: <class 'int'>
a + b = -89
a * 5 = 50

### float (Floating Point)
Floats are decimal numbers.
Python floats are stored in binary floating format, so small precision issues may occur.

In [27]:
x = 10.5
y = -3.14

print("x =", x, "| type:", type(x))
print("y =", y, "| type:", type(y))
print("x + y =", x + y)
print("x * 2 =", x * 2)

x = 10.5 | type: <class 'float'>
y = -3.14 | type: <class 'float'>
x + y = 7.359999999999999
x * 2 = 21.0

In [28]:
print("0.1 + 0.2 =", 0.1 + 0.2)
print("Is 0.1 + 0.2 equal to 0.3?", (0.1 + 0.2) == 0.3)

0.1 + 0.2 = 0.30000000000000004
Is 0.1 + 0.2 equal to 0.3? False

### complex (Complex Numbers)
Complex numbers are represented as:

a + bj
where:

a = real part
b = imaginary part
j = √(-1) in Python

In [29]:
z = 2 + 3j

print("z =", z, "| type:", type(z))
print("Real part:", z.real)
print("Imaginary part:", z.imag)

z = (2+3j) | type: <class 'complex'>
Real part: 2.0
Imaginary part: 3.0

In [30]:
z1 = 1 + 2j
z2 = 3 + 4j

print("z1 =", z1)
print("z2 =", z2)
print("z1 + z2 =", z1 + z2)
print("z1 * z2 =", z1 * z2)

z1 = (1+2j)
z2 = (3+4j)
z1 + z2 = (4+6j)
z1 * z2 = (-5+10j)

#### bool as Numeric Type
In Python:

True behaves like 1

False behaves like 0

In [31]:
print("True + 5 =", True + 5)
print("False * 10 =", False * 10)
print("type(True) =", type(True))
print("int(True) =", int(True))
print("int(False) =", int(False))

True + 5 = 6
False * 10 = 0
type(True) = <class 'bool'>
int(True) = 1
int(False) = 0


### Type Casting (Conversions)
Python allows conversion between numeric types:

int("10") → 10

float("10") → 10.0

complex(2, 5) → (2+5j)

bool(0) → False

bool(100) → True

In [32]:
s = "10"

i = int(s)
f = float(s)
comp = complex(2, 5)

print("s =", s, "| type:", type(s))
print("int(s) =", i, "| type:", type(i))
print("float(s) =", f, "| type:", type(f))
print("complex(2, 5) =", comp, "| type:", type(comp))

print("bool(0) =", bool(0))
print("bool(100) =", bool(100))

s = 10 | type: <class 'str'>
int(s) = 10 | type: <class 'int'>
float(s) = 10.0 | type: <class 'float'>
complex(2, 5) = (2+5j) | type: <class 'complex'>
bool(0) = False
bool(100) = True

#### Useful Numeric Built-in Functions
abs() → absolute value

pow() → power

round() → rounding

max() → maximum value

min() → minimum value

In [33]:
print("abs(-25) =", abs(-25))
print("pow(2, 5) =", pow(2, 5))
print("round(3.14159, 2) =", round(3.14159, 2))
print("max(10, 20, 5) =", max(10, 20, 5))
print("min(10, 20, 5) =", min(10, 20, 5))

abs(-25) = 25
pow(2, 5) = 32
round(3.14159, 2) = 3.14
max(10, 20, 5) = 20
min(10, 20, 5) = 5


### Arithmetic Operators
+ Addition
- Subtraction
* Multiplication
/ Division (always float)
// Floor division
% Modulus (remainder)
** Power

In [34]:
a = 10
b = 3

print("a =", a, "b =", b)
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a = 10 b = 3
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

### 2) Input & Output Functions
#### input()
Takes user input from keyboard

Always returns a string by default
#### print()
Displays output in console/notebook

Can use sep and end for formatting

In [35]:
# Uncomment and run this cell in notebook:
# name = input("Enter your name: ")
# print("Hello", name)
# Uncomment and run this cell:
# age = int(input("Enter age: "))
# salary = float(input("Enter salary: "))
# print("Age:", age, "| type:", type(age))
# print("Salary:", salary, "| type:", type(salary))

#### Multiple Inputs in One Line
Using split() to take multiple values from one input line.

Example input: 10 20

In [36]:
# Uncomment and run:
# x, y = input("Enter two numbers: ").split()
# print("x =", x, "| type:", type(x))
# print("y =", y, "| type:", type(y))
# Uncomment and run:
# x, y = map(int, input("Enter two integers: ").split())
# print("Sum =", x + y)


### Output with print()
print() supports optional parameters:

sep → separator between values
end → what to print at the end

In [37]:
print(1, 2, 3)                       # default sep=" "
print(1, 2, 3, sep="-")              # custom separator
print("Hello", end=" ")
print("World")                       # prints on same line

1 2 3
1-2-3
Hello World


### Output Formatting
#### f-string (Recommended)
Fast and clean formatting:

{value} for direct values
{value:.2f} for 2 decimal places

In [41]:
name = "Sandeep"
age = 19
score = 95.6789

print(f"Name: {name}, Age: {age}, Score: {score}")
print(f"Score (2 decimals): {score:.2f}")

Name: Sandeep, Age: 19, Score: 95.6789
Score (2 decimals): 95.68

In [42]:
print("Name: {}, Age: {}".format(name, age))
print("Score: {:.2f}".format(score))

Name: Sandeep, Age: 19
Score: 95.68

In [43]:
print("Name: %s Age: %d" % (name, age))
print("Score: %.2f" % score)

Name: Sandeep Age: 19
Score: 95.68

### 3) Escape Sequences in Python
Escape sequences are special characters used in strings with \\.

Common ones:

\\n → New Line

\\t → Tab space

\\\\ → Backslash

\\' → Single quote

\\" → Double quote

\\r → Carriage return

\\b → Backspace

\\a → Alert (beep)

In [44]:
print("Hello\nWorld")

Hello
World

In [47]:
print("Name\tAge\tCity")
print("Sandeep\t19\tDehradun")

Name	Age	City
Sandeep	19	Dehradun

In [49]:
print("C:\\Users\\Sandeep\\Documents")

C:\Users\Sandeep\Documents

In [50]:
print('It\'s Python')
print("He said \"Hello\"")

It's Python
He said "Hello"

In [51]:
print("Hello\rWorld")

World

In [52]:
print("Helloo\b")

Hello

In [53]:
print("Warning!\a")

Warning!


### Raw Strings (Very Important for File Paths and Regex)
### Raw strings use r"" and ignore escape sequences.

Useful in:

Windows paths
Regular expressions

In [54]:
path1 = "C:\\newfolder\\test"
path2 = r"C:\newfolder\test"

print("Normal string:", path1)
print("Raw string:", path2)

Normal string: C:\newfolder\test
Raw string: C:\newfolder\test

### Combined Practice Program (Interactive)

This program takes user details and prints a structured output using:

input()

type casting

f-string formatting

escape sequences

In [55]:
# Uncomment and run in notebook:
# name = input("Enter your name: ")
# age = int(input("Enter your age: "))
# cgpa = float(input("Enter your CGPA: "))
#
# print("\n----- Student Report -----")
# print(f"Name:\t{name}")
# print(f"Age:\t{age}")
# print(f"CGPA:\t{cgpa:.2f}")
# print("--------------------------")

In [ ]:
# If you want, I can also create:
# 1) Practice questions + assignments
# 2) 50 MCQs quiz on these topics
# 3) Mini-project problems for interview prep


### Tokens, Naming Conventions, Operators & Precedence, type() & id()
#### Topics Covered

Tokens in Python

Naming Conventions (Identifiers)

Operators in Python

Operator Precedence & Associativity

type() and id() functions

Each section contains explanation + runnable code.

### Tokens in Python
A token is the smallest meaningful unit in a Python program.

Python source code is broken into tokens by the interpreter before execution.

### Main Categories of Tokens
Keywords (reserved words)

Identifiers (names of variables, functions, classes)

Literals (fixed values like numbers, strings)

Operators (symbols like +, -, ==)

Delimiters / Separators ((), [], {}, :, , etc.)

### 1. Keywords
Keywords are reserved words with special meaning in Python.
You cannot use keywords as variable names.

Examples: if, else, for, while, def, class, return, True, None

We can view all keywords using the keyword module.

In [56]:
import keyword

print("Total keywords:", len(keyword.kwlist))
print(keyword.kwlist)

Total keywords: 35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### 2. Identifiers
#### Identifiers are names you give to:

variables

functions

classes

modules
#### Rules for identifiers

Must start with a letter (A-Z or a-z) or underscore _

Cannot start with a digit

Can contain letters, digits, underscores

Case-sensitive: age, Age, AGE are different

Cannot be a keyword

In [57]:
age = 25
_age = 30
age2 = 40

print(age, _age, age2)

# Invalid identifiers (do NOT run; shown for learning)
# 2age = 10
# first-name = "Sandeep"
# class = 5

25 30 40

### 3. Literals
Literals are fixed values written directly in code.

Types:

Numeric: 10, 3.14, 2+3j

String: "hello", 'python'

Boolean: True, False

None literal: None

Collection literals: [1,2], (1,2), {1,2}, {"a":1}

In [58]:
n = 10
pi = 3.14
name = "Vibhu"
flag = True
nothing = None
lst = [1, 2, 3]
tup = (1, 2)
st = {1, 2, 3}
dct = {"a": 1}

print(n, pi, name, flag, nothing, lst, tup, st, dct)

10 3.14 Vibhu True None [1, 2, 3] (1, 2) {1, 2, 3} {'a': 1}

### 4. Operators (as tokens)
Operators are symbols that perform operations on values. Examples:

+, -, *, /

==, !=, <=

and, or, not


### 5. Delimiters / Separators
Delimiters are symbols that structure code.

Common delimiters:

    () parentheses: function calls, grouping

    [] brackets: lists, indexing

    {} braces: dict/set

    : colon: blocks and slicing

    , comma: separate items

    . dot: attribute access

In [59]:
nums = [10, 20, 30]
print(nums[0])        # [] indexing
print(nums[0:2])      # : slicing

data = {"name": "Sandeep", "age": 38}  # {} dictionary
print(data["name"])   # [] key access

10
[10, 20]
Sandeep

In [8]:
faculty_names = ["Dr V Maths", "Dr D Maths", "Dr H Maths", "Md K SS", "HH K Maths"]
for each in faculty_names:
    if each.endswith("Maths") == True and each.startswith("Dr") == False:
        print(each)

HH K Maths

In [9]:
False + False

0

In [10]:
True + True

2

In [11]:
v=6794

In [12]:
v//10

679

In [13]:
v%10

4

## Palindrom Number

In [1]:
n = 3452543
reverse = 0
temp = n
while temp != 0:
    reverse = (reverse * 10) + (temp % 10)
    temp = temp // 10
if n == reverse:
    print("Paindrome")
else:
    print("Not Palindrome")

Paindrome

## Armstrong Number

In [2]:
num = 192
order = len(str(num))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
if num == sum:
    print("Armstrong number")
else:
    print("Not Armstrong number")

Not Armstrong number

In [5]:
addd = 123412341234

In [6]:
for item in str (addd):
    print(item)

1
2
3
4
1
2
3
4
1
2
3
4

In [7]:
l = ["dr v","dr g","dr k"]

In [8]:
type(l[0])

str

In [12]:
for individual_item in l:
    print(individual_item.upper())

DR V
DR G
DR K

In [13]:
for individual_item in l:
    print(individual_item.lower())

dr v
dr g
dr k

In [14]:
v = "Dr V"

In [15]:
"Dr V".startswith("Dr")

True

In [16]:
if "str":
    print("if condition gets executed")

if condition gets executed

In [19]:
i = [1,2,3,4,5]
for item in i:
    print(item)

1
2
3
4
5

In [20]:
i =10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [21]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [26]:
for item in range (0,100,3):
    print(item)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [27]:
l[0] = 1000

In [28]:
l

[1000, 'dr g', 'dr k']

## in a list of numbers find even number and replace it from 0

In [53]:
l=[2,3,4,5,6,7,8,9,10]

In [54]:
for indx,item in enumerate(l):
    print("item value is :", item)
    print("item index is :", indx)

item value is : 2
item index is : 0
item value is : 3
item index is : 1
item value is : 4
item index is : 2
item value is : 5
item index is : 3
item value is : 6
item index is : 4
item value is : 7
item index is : 5
item value is : 8
item index is : 6
item value is : 9
item index is : 7
item value is : 10
item index is : 8

In [55]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
for indx,item,in enumerate(l,start=100):
    print(item,indx)

2 100
3 101
4 102
5 103
6 104
7 105
8 106
9 107
10 108

In [58]:
grades = [20,30,12,12,14,14]
names = ["v","g","h","i","j","k"]

In [59]:
for index,grade_name_t in enumerate(zip(grades,names)):
    print(index,grade_name_t)

0 (20, 'v')
1 (30, 'g')
2 (12, 'h')
3 (12, 'i')
4 (14, 'j')
5 (14, 'k')

In [60]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [68]:
l=[1,2,3,4,5,6]
len(l)

6

In [65]:
for item in range (len(l)-1):
    if l[item+1]-l[item]!=1:
        break
else:
    print("the list is natural")

the list is natural

In [70]:
l=[1,2,3,44,5,6]
len(l)

6

In [71]:
for item in range(len(l) - 1):
    if l[item + 1] - l[item] != 1:
        print("the list is not natural")
        break
else:
    print("the list is natural")

the list is not natural

In [72]:
l=[1,2,3,4,5,6]
len(l)

6

In [69]:
flag = False
for item in range(len(l) - 1):
    if l[item + 1] - l[item] != 1:
        flag = True
    if flag == True:
        print("the list is not natural")
else:
    print("the list is natural")

the list is natural

In [1]:
a = "Sandeep"

In [2]:
type(a)

str

In [3]:
len(a)

7

##### enumerator id, index value and value print krta hai

#### LIST : 

list can have different datatype value for any value contained in a list.

## NOTE

* numpy is numeric liberary in python, mainly used of operations on matrix(array)

* dictionary doesn't follow indexes

In [5]:
n = 20
count = 20
for item in range (1,21):
    count = count + item

    print (count)

21
23
26
30
35
41
48
56
65
75
86
98
111
125
140
156
173
191
210
230

In [6]:
x = 10  
print(id(x)) # identity  
print(type(x)) # type  
print(x)

1701745787408
<class 'int'>
10

In [7]:
class Demo:
    def show(self):
        print("Hello")
d = Demo()
d.show()

Hello

In [8]:
"python programming new".title()

'Python Programming New'

In [9]:
a = 10
b = -99
c = 0

print("a =", a, "| type:", type(a))
print("b =", b, "| type:", type(b))
print("c =", c, "| type:", type(c))

print("a + b =", a + b)
print("a * 5 =", a * 5)

a = 10 | type: <class 'int'>
b = -99 | type: <class 'int'>
c = 0 | type: <class 'int'>
a + b = -89
a * 5 = 50

In [3]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\keshav\documents\github\python-programming\.venv\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np

In [3]:
import numpy
numpy.__version__

'2.2.6'

## Supra Mk4

In [4]:
class Car:
    def __init__(self, name, model, year, color, price, engine_l, weight_kg, tyre_in):
        self.name = name
        self.model = model
        self.year = year
        self.color = color
        self.price = price
        self.engine_l = engine_l
        self.weight_kg = weight_kg
        self.tyre_in = tyre_in

    def display_info(self):
        print(f"Car Name: {self.name}")
        print(f"Model: {self.model}")
        print(f"Year: {self.year}")
        print(f"Color: {self.color}")
        print(f"Price: {self.price}")
        print(f"Engine: {self.engine_l} L")
        print(f"Weight: {self.weight_kg} kg")
        print(f"Tyre Size: {self.tyre_in} in")

    def mileage_info(self):
        base, city, highway = city_highway_kmpl(self.engine_l, self.weight_kg, self.tyre_in)
        print(f"Base mileage   : {base:.2f} km/L")
        print(f"City mileage   : {city:.2f} km/L")
        print(f"Highway mileage: {highway:.2f} km/L")


def dummy_mileage_kmpl(engine_l: float, weight_kg: float, tyre_in: float) -> float:
    mileage = 28 - 4 * engine_l - 0.006 * (weight_kg - 1000) - 0.7 * (tyre_in - 15)
    return max(5.0, mileage)


def city_highway_kmpl(engine_l: float, weight_kg: float, tyre_in: float) -> tuple[float, float, float]:
    base = dummy_mileage_kmpl(engine_l, weight_kg, tyre_in)
    city = 0.85 * base
    highway = 1.10 * base
    return base, city, highway


if __name__ == "__main__":
    my_car = Car("Toyota", "Supra MK4", 2002, "Red", 8500000, 3.0, 1615, 17)
    my_car.display_info()
    my_car.mileage_info()

Car Name: Toyota
Model: Supra MK4
Year: 2002
Color: Red
Price: 8500000
Engine: 3.0 L
Weight: 1615 kg
Tyre Size: 17 in
Base mileage   : 10.91 km/L
City mileage   : 9.27 km/L
Highway mileage: 12.00 km/L

In [5]:
# Define the Toyota class
class Toyota:
    def __init__(self, model, fuel_consumed, distance_traveled):
        self.model = model
        self.fuel_consumed = fuel_consumed
        self.distance_traveled = distance_traveled

    def mileage(self):
        if self.fuel_consumed == 0:
            return 0  
        return self.distance_traveled / self.fuel_consumed

car2 = Toyota("Supra", 35, 420)  
print(f"{car2.model} mileage: {car2.mileage():.2f} km/l")

Supra mileage: 12.00 km/l