## Python Programming Lab

Experiment 1: Python Installation and starting with python

1. Install Python and understand difference between scripting and interactive 
modes in IDLE.

In [7]:
#Scripting Mode: Write Python code in a .py file, then run the full program at once.
name = "Shreyansh"
print("Hello", name)

Hello Shreyansh

In [8]:
#Interactive Mode: Have to type Python commands one by one, and Python gives the output immediately.
5 + 2
7
name = "Shreyansh"
name
'Shreyansh'

'Shreyansh'

2. Write Python programs to print strings in the given manner:  
a)   Hello Everyone !!!  
b)   Hello  
World  
c)   Hello  
World  
d) ‘ Rohit’ s date of birth is 12\05\1999’

In [23]:
print("Hello Everyone")

Hello Everyone

In [21]:
print("Hello\nWorld")

Hello
World

In [22]:
print("Hello \n   World")

Hello
   World

In [25]:
print("Shreyansh's date of birth is 12\\05\\1999")

Shreyansh's date of birth is 12\05\1999

3. Declare a string variable called x and assign it the value “Hello”.  
Print out the value of x

In [24]:
x = "Hello"
print(x)

Hello

4. Take different data types and print values using print function.

In [28]:
name = "Shreyansh"      
age = 23             
height = 5.8           
is_student = True      
marks = [90, 85, 88]   

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)
print("Marks:", marks)

Name: Shreyansh
Age: 23
Height: 5.8
Is Student: True
Marks: [90, 85, 88]

5. Take two variables, a and b. Assign your first name and last name. Print your 
Name after adding your First name and Last name together.

In [34]:
F = "Shreyansh"
L = " Gupta"
print(F + L)

Shreyansh Gupta

6. Declare three variables, consisting of your first name, your last name and 
Nickname. Write a program that prints out your first name, then your nickname 
in parenthesis and then your last name.    
Example output: George (woody) Washington.

In [35]:
F = "Shreyansh"
L = " Gupta"
n = "Ansh"
print(F + L)
print(n)

Shreyansh Gupta
Ansh

7. Declare and assign values to suitable variables and print in the following way: 

NAME: SHREYANSH GUPTA    
SAP ID: 590020790
DATE OF BIRTH: 15 Dec 2002  
ADDRESS: UPES  
Bidholi Campus  
Pincode: 248007  
Programme: AI&ML                                                                                  
Semester: 2

In [36]:
name = "SHREYANSH GUPTA"
sap_id = 590020790
dob = "15 Dec 2002"
address1 = "UPES"
address2 = "Bidholi Campus"
pincode = 248007
Course = "BCA"
semester = 2

print("NAME:", name)
print("SAP ID:", sap_id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", address1)
print(address2)
print("Pincode:", pincode)
print("Course:", Course)
print("Semester:", semester)

NAME: SHREYANSH GUPTA
SAP ID: 590020790
DATE OF BIRTH: 15 Dec 2002
ADDRESS: UPES
Bidholi Campus
Pincode: 248007
Course: BCA
Semester: 2