## 1. Find a factorial of a number

In [1]:
num = int(input("Enter a number"))
fact = 1
for i in range(1, num + 1):
    fact *= i
print(fact)

120

## 2. Find whether the given number is Armstrong number

In [5]:
num = int(input("Enter a number: "))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
if num == sum:
    print("Armstrong number")
else:
    print("Not Armstrong number")

Armstrong number

## 3. Print Fibonacci series up to given term

In [6]:
n = int(input("enter the number of terms"))
a = 0
b = 1
for i in range(n):
    print(a, " ")
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757

## 4. Write a program to find if the given number is prime number or not

In [7]:
num = int(input("Enter a number: "))
if num <= 1:
    print("Not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Prime number

## 5. Check whether given number is palindorme or not

In [1]:
n = int(input("Enter a number: "))
reverse = 0
temp = n
while temp != 0:
    reverse = (reverse * 10) + (temp % 10)
    temp = temp // 10
if n == reverse:
    print("Paindrome")
else:
    print("Not Palindrome")

Paindrome

## 6. Write a program to print the sum of digits

In [10]:
n = int(input("Enter a number: "))
sum = 0
s = str(n)
temp = n
for i in s:
    digit = temp % 10
    temp = temp // 10
    sum += digit
print(sum)

10

## 7. Count an print all numbers divisible by 5 and 7 between 1 and 100

In [11]:
for i in range(1, 101):
    if i % 5 == 0 and i % 7 == 0:
        print(i)

35
70

## 8. Convert all lowercase letters to uppercase letters in a string.

In [13]:
s = input("Enter a string: ")
result = s.upper()
print("Uppercase string:", result)

Uppercase string:

## 9. Print all prime number between 1 to 100

In [18]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 10. Print the table for a given number.

In [19]:
n = int(input("Enter any number"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

60 * 1 = 60
60 * 2 = 120
60 * 3 = 180
60 * 4 = 240
60 * 5 = 300
60 * 6 = 360
60 * 7 = 420
60 * 8 = 480
60 * 9 = 540
60 * 10 = 600