# Experiment 6: Lists, tuples, dictionary

### 1. Scan n values in range 0-3 and print the number of times each value has occurred.

In [ ]:
n = int(input("Enter number of values: "))

values = []
for i in range(n):
    num = int(input("Enter value (0-3): "))
    if 0 <= num <= 3:
        values.append(num)
    else:
        print("Invalid input! Enter between 0 and 3")

# Count occurrences
for i in range(4):
    print(f"{i} occurred {values.count(i)} times")

0 occurred 0 times
1 occurred 1 times
2 occurred 1 times
3 occurred 0 times

### 2. Create a tuple to store n numeric values and find the average of all values.

In [ ]:
n = int(input("Enter number of elements: "))

nums = []
for i in range(n):
    nums.append(float(input("Enter number: ")))

t = tuple(nums)

average = sum(t) / len(t)

print("Tuple:", t)
print("Average:", average)

Tuple: (45.0, 42.0, 43.0, 46.0)
Average: 44.0

### 3. WAP to input a list of scores for N students in a list data type. Find the score of the runner-up and print the output.  
Sample Input 




N = 5  





Scores= 2 3 6 6 5  






Sample output  





5  







Note: Given list is [2, 3, 6, 6, 5]. The maximum score is 6, second maximum is 





5. Hence, we print 5 as the runner-up score.

In [ ]:
N = int(input("Enter number of students: "))
scores = list(map(int, input("Enter scores separated by space: ").split()))

unique_scores = list(set(scores))   # remove duplicates
unique_scores.sort()

runner_up = unique_scores[-2]

print("Runner-up score:", runner_up)

Runner-up score: 6

4. Create a dictionary of n persons where key is name and value is city.   
a. Display all names  
b. Display all city names  
c. Display student names and cities of all students.  
d. Count the number of students in each city.

In [3]:
n = int(input("Enter number of students: "))
students = {}

for i in range(n):
    name = input("Enter name: ")
    city = input("Enter city: ")
    students[name] = city

# a. Display all names
print("Names:", students.keys())

# b. Display all cities
print("Cities:", students.values())

# c. Display all student details
print("Student Details:")
for name, city in students.items():
    print(name, "lives in", city)

# d. Count students in each city
city_count = {}
for city in students.values():
    city_count[city] = city_count.get(city, 0) + 1

print("Students in each city:", city_count)

Names: dict_keys(['Shreyansh Kumar Gupta'])
Cities: dict_values(['Patna'])
Student Details:
Shreyansh Kumar Gupta lives in Patna
Students in each city: {'Patna': 1}

5. Store details of n movies in a dictionary by taking input from the user. Each 
movie must store details like name,  year, director name, production cost, 
collection made (earning) & perform the following :-  
a. print all movie details  
b. display name of movies released before 2015  
c. print movies that made a profit. 
d. print movies directed by a particular director.

In [2]:
n = int(input("Enter number of movies: "))
movies = {}

for i in range(n):
    name = input("Movie name: ")
    year = int(input("Release year: "))
    director = input("Director name: ")
    cost = float(input("Production cost: "))
    collection = float(input("Collection made: "))

    movies[name] = {
        "year": year,
        "director": director,
        "cost": cost,
        "collection": collection
    }

# a. Print all movie details
print("\nAll Movie Details:")
for name, details in movies.items():
    print(name, details)

# b. Movies released before 2015
print("\nMovies released before 2015:")
for name, details in movies.items():
    if details["year"] < 2015:
        print(name)

# c. Movies that made profit
print("\nProfitable Movies:")
for name, details in movies.items():
    if details["collection"] > details["cost"]:
        print(name)

# d. Movies by particular director
search_director = input("\nEnter director name to search: ")
print("Movies directed by", search_director)
for name, details in movies.items():
    if details["director"].lower() == search_director.lower():
        print(name)

All Movie Details:
Ra One {'year': 2011, 'director': 'Anubhav Sinha', 'cost': 350000000.0, 'collection': 2000000000.0}

Movies released before 2015:
Ra One

Profitable Movies:
Ra One
Movies directed by